[submodule "src/third_party/spdlog"]
	path = src/third_party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "src/third_party/stb"]
	path = src/third_party/stb
	url = https://github.com/nothings/stb
